@model ICollection<Exemplo02.Models.Grupo>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
@Helper.Message(TempData["msg"], "alert alert-success")
@using (Html.BeginForm("Buscar", "Aluno", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.TextBox("nomeBusca", "", new { @class = "form-control", placeholder = "Digite um nome" })
    @Helper.Submit("Buscar", "btn btn-primary")
}
<table class="table table-striped">
    <thead>
        <tr>
            <td>Nome Grupo</td>
            <td>Nota Grupo</td>
            <td>Nome Projeto</td>
            <td>Descriçao Projeto</td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Nota</td>
                <td>@item.Projeto.Nome</td>
                <td>@item.Projeto.Descricao</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = @item.Id }, new { @class = "btn btn-primary" })
                    <button onclick="alunoId.value = @item.Id" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
            </div>
            <div class="modal-body">
                Realmente dezeja apagar o aluno?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Excluir", "Aluno"))
                {
                    <input type="hidden" id="alunoId" name="alunoId" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-primary">Sim</button>

                }

            </div>
        </div>
    </div>
</div>
