@model Exemplo02.ViewModels.AlunoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a=> a.Nome)
        @Html.TextBoxFor(a=>a.Nome,new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataNascimento)
        @Html.TextBoxFor(a => a.DataNascimento, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.GrupoId)
        @Html.DropDownListFor(c => c.GrupoId, Model.ListaGrupo, "Selecione", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Desconto)
        @Html.TextBoxFor(a => a.Desconto, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Bolsa)
        @Html.CheckBoxFor(c => c.Bolsa)
    </div>
    <div>
        @MeuHelper.Submit("Atualizar", "btn btn-primary")
    </div>
}
